.photo-grid{
  margin-bottom: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 0 48px;

}
.photo-grid__item{
  width: 100%;
  box-sizing: border-box;
  
  
}

@media screen and (max-width: 1024px){
  .photo-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 544px){
  .photo-grid{
    grid-template-columns: auto;
    margin-bottom: 62px;
  }
  
}